[user]
	name = nandanugg
	email = nandanugg@gmail.com
[pull]
	rebase = true
[core]
	autocrlf = input
	filemode = false
	excludesfile = /home/nanda/.gitignore_global
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[push]
	autoSetupRemote = true
[http]
	postBuffer = 524288000
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
